<div class = "container-card" #card (click)="mudaCard()">
  <div class = "flipper" #flip>
    <div class  = "front">
      <div class = "front-text">
        <p class = "tytle xmm">{{titulo}}</p>
        <p class = "date xpp-thin">{{sub_titulo}}</p>
      </div>
    </div>
    <div class="back">
      <div class = "back-conteudo">
        <div class = "back-text description">
          <p class = "xpp">
            {{descricao}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
