<div class = "body-app">
  <app-topbar></app-topbar>
  <main>
    <aside class = "sobre-nos">

      <div class = "tytle">
        <p class ="xg sombra-titulo">O que é o</p>
        <p class ="xgg type-title sombra-titulo">LEDS?</p>
      </div>

      <p class="xpp p-sobre">O Laboratório de Extensão
        e Desenvolvimento deSoluções (LEDS) é um programa de extensão ligado ao
        Instituto Federal do Espírito Santo Campus Serra que funciona atualmente na
        sala 804, localizado no bloco 8.Criado em 2012 atualmente o programa conta
        com aparticipação de oito professores e 21 alunos, que atuam de forma
        interdisciplinar nos projetos. O Laboratório visa fazer a conexão, por
        meio de projetos, de demandas de entidades governamentais, empresas e
        organizações sociais com alunos e professores.</p>

        <p class = "div-projetos xp">Ver Projetos<span class="material-icons">
          chevron_right
          </span></p>
    </aside>
  </main>
</div>
