<div class = "body-app">
  <app-topbar></app-topbar>
  <main>
    <aside class = "sobre-nos">

      <div class = "tytle">
        <!-- <p class ="xg sombra-titulo">
          O que é o
        </p> -->

        <p class ="xg sombra-titulo type-sub-tytle">
          <span class ="transition-verde">O </span>
          <span class ="transition-vermelha">q</span>
          <span class ="transition-roxa">u</span>
          <span class ="transition-verde">e </span>
          <span class ="transition-vermelha">é </span>
          <span class ="transition-roxa">o</span>
        </p>

        <!-- <p class ="xgg type-title sombra-titulo">LEDS?</p> -->
        <p class ="xgg type-title sombra-titulo">
          <span class = "transition-verde">L</span>
          <span class = "transition-vermelha">E</span>
          <span class = "transition-roxa">D</span>
          <span class = "transition-verde">S</span>
          <span class = "transition-vermelha">?</span>
        </p>
      </div>

      <p class="xpp p-sobre">O Laboratório de Extensão
        e Desenvolvimento de Soluções (LEDS) é um programa de extensão ligado ao
        Instituto Federal do Espírito Santo Campus Serra que funciona atualmente na
        sala 804, localizado no bloco 8.Criado em 2012 atualmente o programa conta
        com aparticipação de oito professores e 21 alunos, que atuam de forma
        interdisciplinar nos projetos. O Laboratório visa fazer a conexão, por
        meio de projetos, de demandas de entidades governamentais, empresas e
        organizações sociais com alunos e professores.</p>

        <p class = "div-projetos xp-spartan">Ver Projetos<span class="material-icons">
          chevron_right
          </span></p>
    </aside>
  </main>
</div>
