$cor-verde: #65b145;
$cor-preta: #262626;
$cor-vermelha: #e5322d;
$cor-roxa: #553c75;

.styles-background{
  background-color: #262626;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1500px;
  height: 100%;
  justify-content: center;
}

.styles-conteudo{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: stretch;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}
