$cor-verde: #65b145;
$cor-preta: #212121;

header{
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  transition: 1s all;
  z-index: 1000;
}

.cata-vento{
  background-image: url(../../../assets/layout/images/logo-leds-colorida.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  // transition: 0.3s all;
}

img{
  visibility: visible;
}

.logo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  min-width: 170px;

  a{
    text-decoration: none;
    p{
      margin: 0 0 0 0;
      color:white;

    }
  }

}

.topbar-list-react{

  li{
    color: $cor-preta;
    transition: 0.5s all;
  }

  li:hover{
    color: $cor-verde;
  }
}

ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}

li{
  display: inline-block;
  align-items:center;
  margin: 15px;
  color: white;
}

li:hover{
  color: $cor-verde;
  transition: 0.3s all;
}
