<header #nav>
  <div class="logo">
    <div class = "cata-vento">
      <a href = "#"><img src="../../../assets/layout/images/logo-leds.svg" #logoImg></a>
    </div>
    <a href = "#"><p class = "xmm-spartan" #logoTxt>LEDS</p></a>
  </div>

  <!-- [ngClass]="{'topbar-list-react':ativo}" -->

  <ul class = "xpp" #listNav>
    <a routerLink=""><li>Início</li></a>
    <a href="#"><li>Laboratórios</li></a>
    <a href="/projetos"><li>Projetos</li></a>
    <a href="#"><li>Membros</li></a>
    <a href="#"><li>Coordenadorias</li></a>
    <a href="#"><li>Cursos</li></a>
    <a href="#"><li>Parceiros</li></a>
    <a href="#"><li><i class="material-icons">account_circle</i></li></a>
  </ul>
</header>
