@import url(assets/layout/css/definicoes-fonts.scss);

$texto-pequeno: 12px;
$texto-medio: 18px;
$texto-grande: 24px;
$texto-ultra-grande: 36px;

.xp{
    font-family: OpenSans-Light;
    font-size: $texto-pequeno;
}

.xm{
    font-size: $texto-medio;
}

.xg{
    font-size: $texto-grande;
}

.xgg{
    font-size: $texto-ultra-grande;
}