@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/openSans/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/openSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url(../fonts/openSans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: LeagueSpartan-SemiBold;
    src: url(../fonts/leagueSpartan/LeagueSpartan-SemiBold.ttf);
}

@font-face {
  font-family: LeagueSpartan-ExtraBold;
  src: url(../fonts/leagueSpartan/LeagueSpartan-ExtraBold.ttf);
}

@font-face {
  font-family: LeagueSpartan-Bold;
  src: url(../fonts/leagueSpartan/LeagueSpartan-Bold.ttf);
}

@font-face {
  font-family: Sora-Thin;
  src: url(../fonts/Sora/Sora-Thin.ttf);
}
