@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/openSans/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/openSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: LeagueSpartan-SemiBold;
    src: url(../fonts/leagueSpartan/LeagueSpartan-SemiBold.ttf);
}